<!doctype html>
<html lang="en">
<style>
body 
{
background-image:url('http://prowallpapers.info/_ph/17/858114562.jpg');
background-size:cover;
}
</style>
<head>
	<meta charset="UTF-8">
	<title>MusicBrainz Project</title>
</head>
<body>
	<h1>MusicBrainz</h1>
	<h2>Enter your Artist's name</h2>
	<h2> <%= yield %> </h2>
</body>
</html>

<!-- http://thegiant.org/wiki/images/thumb/9/91/Bob_Marley_Stencil_Collage_on_Album_Covers.jpg/300px-Bob_Marley_Stencil_Collage_on_Album_Covers.jpg

http://multilingualbooks.com/wp/soundandvision/files/2012/09/bobmarley.jpg


https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSExqwfUX8E-k02973vtZ1_Ui0oVSeVTaQDjMPykZJ_H5X41-un
 -->

 <!-- http://prowallpapers.info/_ph/17/858114562.jpg -->